.navbar-brand {
    margin-left: 290px;
    border: 2px solid rgb(41, 243, 41);
    border-radius: 20%;
    background-color: rgb(41, 243, 41);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: aqua;
}

#gametitle {
    font-family: 'copperplate', sans-serif;
}