  .signupbody{
    background-image: url('https://cdn.hipwallpaper.com/i/83/50/U1tWJY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

form {
    background-color: gray;
    
}

h2 {
    background-color: gray;
}
div.card.card-body {
    background-color: gray;
    width: 500px;
    height: 400px;
    opacity: 0.7;
}

