.welcomebody {
    background-image: url('https://cdn.wallpapersafari.com/11/16/s3glvb.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#userblogfeed{
    height: 600px;
    width: 360px;
    position: sticky;
    left: 100px;
    text-align: center;
}

#latestblogfeed {
    height: 600px;
    width: 360px;
    position: relative;
    left: 600px;
    bottom: 77px;
    opacity: 0.9;
    text-align: center;
}